.auth-page--login .auth-form {
    gap: 1.2rem;
}

.auth-page--login .auth-form__actions {
    margin-block-start: 2.7rem;
}

@media (max-width: 47.9375rem) {
    .auth-page--login .auth-form {
        gap: 2rem;
    }

    .auth-page--login .auth-form__actions {
        margin-block-start: 2.75rem;
    }
}
